Makefile
Makefile.archc
main.cpp
main.cpp.tmpl
*.o
*.x
*.a
mips.H
mips.cpp
mips.x
mips_arch.H
mips_arch.cpp
mips_arch_ref.H
mips_arch_ref.cpp
mips_bhv_macros.H
mips_isa.H
mips_isa.cpp.tmpl
mips_isa_init.cpp
mips_parms.H
mips_syscall.H.tmpl
mips_syscall.cpp.tmpl
mips_ih_bhv_macros.H
mips_intr_handlers.H
mips_intr_handlers.cpp*
